@model Restaurant.ViewModel.CustomerVM

@{
    ViewData["Title"] = "Details";
}

<h2 class="text-center">Customer Details</h2>

<div class="row">
    <div class="col-md-offset-3 col-md-6 col-md-offset-3">
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Phone)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Street)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Street)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.City)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.City)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ProfileStatus)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ProfileStatus)
            </dd>

        </dl>
        <a asp-action="Index" class="btn btn-info">Back to List</a>
    </div>
</div>
    <div>
        @*<a asp-action="Edit" asp-route-id="">Edit</a> |*@

        
    </div>
